### How to Import Pandas as pd and Print the Version Number

In [1]:
import pandas as pd
print(pd.__version__)

1.2.4

## How to Create a Series in Pandas

### How to Create an Empty Series

In [9]:
s = pd.Series(dtype='float64')
s

Series([], dtype: float64)

### How to Create a Series From NumPy Array

In [12]:
import pandas as pd
import numpy as np

d = np.array([1, 2, 3, 4, 5])
s = pd.Series(d)
s

0    1
1    2
2    3
3    4
4    5
dtype: int32

### How to Create a Series Using List

In [13]:
d = [1, 2, 3, 4, 5]
s = pd.Series(d)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

### How to Create a Series With Index

In [17]:
d = [1, 2, 3, 4, 5]
s = pd.Series(d, index=["one", "two", "three", "four", "five"])
s

one      1
two      2
three    3
four     4
five     5
dtype: int64

### How to Create a Series UsingÂ Dictionary

In [15]:
d = {"one" : 1,
     "two" : 2,
     "three" : 3,
     "four" : 4,
     "five" : 5}
s = pd.Series(d)
s

one      1
two      2
three    3
four     4
five     5
dtype: int64

### How to Create a Series Using Scalar Value

In [23]:
s = pd.Series(1, index = ["a", "b", "c", "d"])
s

a    1
b    1
c    1
d    1
dtype: int64

## How to Create a Dataframe in Pandas

### How to Create an Empty DataFrame

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

### How to Create a DataFrame Using List

In [8]:
listObj = ["MUO", "technology", "simplified"]
df = pd.DataFrame(listObj)
print(df)

            0
0         MUO
1  technology
2  simplified

### How to Create a DataFrame Using Dictionary of ndarray/lists

In [12]:
batmanData = {'Movie Name' : ['Batman Begins', 'The Dark Knight', 'The Dark Knight Rises'],
             'Year of Release' : [2005, 2008, 2012]}
df = pd.DataFrame(batmanData)
print(df)

              Movie Name  Year of Release
0          Batman Begins             2005
1        The Dark Knight             2008
2  The Dark Knight Rises             2012

### How to Create a DataFrame Using Lists of Lists

In [15]:
data = [['Alex', 601], ['Bob', 602], ['Cataline', 603]]
df = pd.DataFrame(data, columns = ['Name', 'Roll No.'])
print(df)

       Name  Roll No.
0      Alex       601
1       Bob       602
2  Cataline       603

### How to Create a DataFrame From List of Dictionaries

In [18]:
data = [{'Name': 'Alex', 'Roll No.': 601},
        {'Name': 'Bob', 'Roll No.': 602},
        {'Name': 'Cataline', 'Roll No.': 603}]
df = pd.DataFrame(data)
print(df)

       Name  Roll No.
0      Alex       601
1       Bob       602
2  Cataline       603

### How to Create a DataFrame Using zip() Function

In [19]:
Name = ['Alex', 'Bob', 'Cataline']
RollNo = [601, 602, 603]
   
listOfTuples = list(zip(Name, RollNo))
 
df = pd.DataFrame(listOfTuples, columns = ['Name', 'Roll No.'])
print(df)

       Name  Roll No.
0      Alex       601
1       Bob       602
2  Cataline       603

## How to Read CSV Files in Python

In [24]:
df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv')
print(df.to_string())

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131